* {
	color: #FBFBFB;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	color: #FBFBFB;
	background-image: url('./assets/background.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

legend {
	width: 300px;
	height: 50px;
	font-size: 25px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

.profilePicture {
	width: 300px;
	height: 500px;
	align-self: left;
	background-image: url(./assets/profile_picture.png);
	background-size: 100%;
	backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

/* Paramètrages téléphone */

@media screen and (orientation: portrait) {
	body {
		background-color: #0e0e10;
		background-image: url('./assets/background_phone.jpg');
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
}

@media (max-width: 340px) {
	legend {
		display: none;
	}
}

@media (min-width: 942px) {
	.myselfCard {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}